// Colors

$purple: #5c2dda;
$lightblue: #98c5c6;
$black: #000;
$white: #fff;
$grey: #c7c7c7;
$lightgrey: #e9e9e9;
$orange: #ff8c00;
$dove: #4a5564;
$darkdove: #193252;

$shade40: rgb(0 0 0 / 40%);

// Sizes

$pad: 20px;
$mobile: 600px;
$radius: 6px;

// Other

$focus: 3px solid $purple;
