.game {
	overflow: hidden;
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	background-color: rgb(101 121 147);
	box-shadow: -2px 3px 20px 0px rgb(0 0 0 / 30%);
	flex-direction: column-reverse;

	&__name {
		color: #5c2dda;
		padding: 16px;
		text-align: center;
	}

	&__players {
		display: flex;
		width: 100%;
		align-items: flex-start;
		justify-content: center;
		position: relative;
	}

	&__result {
		background: #ff8c00;
		min-height: 120px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		text-align: center;
		margin-bottom: 24px;
		align-items: center;

		button {
			display: none;
			max-width: 300px;
		}

		&--ready {
			button {
				display: inline-block;
			}
		}
	}

	&__result-text {
		font-size: 1.3em;
		font-weight: bold;
		margin-bottom: 10px;
		line-height: 1.2em;
	}
}
