@use "sass:math";
@import './_variables.scss';

.game {
	overflow: hidden;
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	background-color: $dove;
	box-shadow: -2px 3px 20px 0px $shade40;
	flex-direction: column-reverse;

	&__name {
		color: $darkdove;
		padding: $pad;
		text-align: center;
	}

	&__players {
		display: flex;
		width: 100%;
		align-items: flex-start;
		justify-content: center;
		position: relative;
	}

	&__result {
		background: $orange;
		min-height: 120px;
		padding: $pad;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		text-align: center;
		margin-bottom: $pad;
		align-items: center;

		button {
			display: none;
			max-width: 300px;
		}

		&--ready {
			button {
				display: inline-block;
			}
		}
	}

	&__result-text {
		font-size: 1.3em;
		font-weight: bold;
		margin-bottom: 10px;
		line-height: 1.2em;
	}
}

@media only screen and (max-width: $mobile) {
	.game {
		width: 96%;
		flex-direction: column;
		padding: 20px 0 0;

		&__name {
			padding: math.div($pad, 2);
			font-size: 1.1em;
		}

		&__players {
			padding: 0;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__result {
			margin: 0;
			padding: 10px;
			min-height: 100px;
		}

		&__result-text {
			font-size: 1.1em;
		}
	}
}
