@use "sass:math";
@import './_variables.scss';

.player {
	display: flex;
	flex-direction: column;
	width: 42%;
	margin: 0 2%;

	&__name {
		padding: 0;
		margin: 16px 0 8px;
	}

	&__weapon {
		min-height: 200px;
		background: $white;
		box-shadow: inset 0 0 20px 0px $shade40;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: math.div($pad, 2);

		&[data-state="selected"] {
			.player__weapon-list {
				display: none;
			}
			.player__selected-weapon {
				display: block;
			}
		}
	}

	&__weapon-list {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		align-items: center;
	}

	&__selected-weapon {
		display: none;
	}

	&__weapon-item {
		border: 1px solid $grey;
		box-sizing: border-box;
		margin: 4px;
		cursor: pointer;
		background: $lightgrey;
		border-radius: 6px;
		transition: transform 0.2s, background-color 0.2s;
		font-size: 0.30em;
		min-width: 66px;

		&:hover {
			background: darken($lightgrey, 10%);
			transform: scale(1.1);
		}

		&:focus {
			outline: $focus;
		}

		.weapon__name {
			font-size: 2.2em;
		}

	}

	&__info {
		text-align: center;
		color: $white;
	}

}

@media only screen and (max-width: $mobile) {
	.player {
		width: 90%;
		margin: 0;
		padding: 0 0 $pad 0;
		display: flex;
		flex-direction: column-reverse;

		&:first-child {
			border-bottom: 1px solid $black;
		}

		&__weapon {
			min-height: 140px;
		}

		&__info {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 12px 0;
		}

		&__name {
			margin: 0;
			font-size: 1.1em;
			text-align: left;
		}

		&__score {
			margin: 0;
			padding-left: 12px;
			white-space: nowrap;
			text-align: right;
		}
	}

}
